body {
    font-family: "Montserrat", sans-serif;

    background-color: #e5e5e5;
    padding: 40px;
}

/* about me */

.my-profession {
    margin-bottom: 18px;
}

.main-content {
    padding: 88px;
}

/* wrapper */

.wrapper {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
}

li {
    background-color: yellow;
}
